
<div class="container">


　<% if @newbook.errors.any? %>
  <div class = "error-me">
    <ul>
    <h5><%= @newbook.errors.count %> errors prohibited this obj from being saved:</h5>
    <% @newbook.errors.full_messages.each do |message| %>
    <p><%= message %></p>
    <% end %>
    </ul>
  </div>
　<% end %>


<div class="row">
<div class="col-xs-3">



    <h2>User info</h2>
    <div class="example">
        <%= attachment_image_tag @user, :profile_image, :fill, 80, 80, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg", size:'80x80' %></div></br></br></br>
    <hr></hr>
    <h3>name   <%= @user.name %></h3>
    <hr></hr>
    <h3>Introduction</h3>
        <p><%= @user.introduction %></p><br>
    <hr></hr>
    <%= link_to edit_user_path(@user), class: "center-block" do %>
            <button type="button" class="btn btn-default btn-block">
                <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
            </button>
    <% end %>



</br>
</br>
</br>
    <h4>New book</h4>
    <%= form_for(@newbook) do |f| %>

    <div class="tk">
    <p class="tk-title">Title</p>
    <div class="tk-waku"><%= f.text_field :title %></div>
    <p class="tk-title">Opinion</p>
    <div class="tk-waku"><%= f.text_area :body %></div>
    </br>

    <%= f.submit 'Create Book' %>
    </div>
    <% end %>
</div>


<div class="col-xs-9">

        <h2>Books</h2>
<table class="table">

    <thead>
        <tr>
            <td></td>
            <td>Title</td>
            <td>Opinion</td>
        </tr>
    </thead>



<% @books.each do |bookindex| %>
    <tr>
        <td class="table-show">
             <%= link_to  user_path(bookindex.user.id) do %><%= attachment_image_tag bookindex.user, :profile_image, :fill, 60, 60, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg", size:'60x60' %>
                 <% end %>
             </td>

        <td class="table-title"><%= link_to bookindex.title, book_path(bookindex.id) %></td>
        <td class="table-body"><%= bookindex.body %></td>
    </tr>
    <% end %>
</table>
</div>

</div>
</div>